.intro-slide {
  .author {
    margin-top: 50px;
    font-size: 18px;
  }
}

.contents-slide {
  ul li {
    margin-bottom: 20px;
  }
}

.aurelia-slide {
  .plugin-links {
    text-align: left;
    margin: 0 0 40px 100px;
  }
}
